.imgHover {
  border-radius: 2px;
  transition: 0.5s;
  /* background-image: url(../assets/backgroundAnimated.gif);  */
  
}

.imgHover:hover{
  transform:scale(102%);
}    

.social{
  transition: 0.5s;
 }

.social:hover{
  transform:scale(110%);
  color: chartreuse;
}

